USE [dbFlyMe2theMoon]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePassenger]    Script Date: 12/8/2023 7:59:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[uspUpdatePassenger]
     @intPassengerID			AS INTEGER OUTPUT
    ,@strFirstName				AS VARCHAR(255)
    ,@strLastName				AS VARCHAR(255)
    ,@strAddress				AS VARCHAR(255)
    ,@strCity					AS VARCHAR(255)
    ,@intState					AS INTEGER 
    ,@strZip					AS VARCHAR(255)
    ,@strPhoneNumber			AS VARCHAR(255)
	,@strEmail					AS VARCHAR(255)
	,@strLoginID				As VARCHAR(255)	
	,@strPassword				As VARCHAR(255)		
       
AS
SET XACT_ABORT ON --terminate and rollback if any errors
BEGIN TRANSACTION
  
    Update  TPassengers 
			SET strFirstName =	@strFirstName, 
			    strLastName =	@strLastName,
				strAddress =	@strAddress, 
				strCity =		@strCity, 
				intStateID =	@intState,
				strZip =		@strZip,
				strPhoneNumber = @strPhoneNumber,
				strEmail =		@strEmail,
				strLoginID =	@strLoginID,
				strPassword =	@strPassword
			
	WHERE  intPassengerID = @intPassengerID
COMMIT TRANSACTION
